.couter__total {
    color: var(--clr-black);
    font-weight: var(--font-weight-text1);
    font-family: var(--font-family-text);
    font-size: var(--font-size-medium); 
}

.counter {
    margin-inline-start: var(--metric-box-spacing);
}

.counter--loading {
    opacity: 20%;
}