.search {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search__input {
    text-align: center;
    height: 40px;
    max-width: 350px;
    width: 100%;
    border: none;
}

.search__input:disabled {
    opacity: 25%;
}